.Questions {
  padding:4px;
  background-color: #F0F0F0;
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
}
.Questions table {
  width:100%;
}
.Questions table td {
  padding: 2px;
  text-align:left;
}
.Questions table tr td:nth-child(1){
  width:10%;
}
/*.Questions input[type='radio'] {
  display:none;
}*/
